body {
    background-color: #FED008;
    color: black;
}

.cart-title {
    color: black;
    font-family: 'Permanent Marker', cursive;
}

.card {
    height: 50%;
}

.card-body {
    background-color: #1C1E1F;
    color: white;
}

.table {
    color: black;
    background-color: white;
}