body {
    background-color: rgb(27, 27, 27);
}

.customImgStock {
    color: white;
}

.customImgStock img {
    max-width: 50%;
}

.customImgLogo {
    color: white;
}

.customImgLogo img {
    max-width: 25%;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.0rem;
        padding-left: 1.0rem;
    }
}

.customCard {
    border: none;
}

.card-body {
    background-color: #2e2e2e;
}

.customCard h5 {
    color: white;
}

.customCard p {
    color: #c2c2c2;
}

.customInput {
    background-color: white;
}